.fade-in{

animation:
fade .35s ease;

}

@keyframes fade{

from{

opacity:0;

transform:
translateY(10px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

.scale{

animation:
scale .25s ease;

}

@keyframes scale{

from{

transform:
scale(.95);

}

to{

transform:
scale(1);

}

}